<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      
        
     
      
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/logout">logout</a>
          </li>
          
        </ul>
      
    </div>
  </nav>

    <div class="container">
        <h1>Add Subject</h1>
        
        <form action="/admin/addSubject/add" method="POST">
            <div class="mb-3">
                
              <label for="exampleInputEmail1" class="form-label">Subject Code:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="scode">
              <label for="exampleInputEmail1" class="form-label">Subject Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="sname">
              
          </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">#</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Subject Name</th>
                
              </tr>
            </thead>
            <tbody>
              <% for (let subject of subjects) { %>   
                
              <tr>
                <th scope="row">1</th>
                 <td><%= subject.name %></td> 
                 <td><%= subject.code %></td> 
                 <td><a href="/admin/swupdate/<%= subject.code %>">Edit Results</a></a> </td> 
                
                 <td><form action="/admin/addSubject/remove" method="POST"><input type="hidden" name="sid" value="<%= String(subject._id) %>"><input type="submit" value="Delete"></form></td> 
                </tr>
               
                <% } %>
                
              
             
            </tbody>
          </table>
    </div>
</body>
</html>