<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vew Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin</a>
          
            
         
          
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/logout">logout</a>
              </li>
              
            </ul>
          
        </div>
      </nav>


    <div class="container">
        <div class="row">
          <div class="col">
            <a href="/admin/addstudent" class="btn btn-dark">Edit Results Student wise</a>
          </div>
          <div class="col">
            <a href="/admin/addSubject" class="btn btn-dark">Edit Results Subject wise</a>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <br>
            </div>
            <div class="col">
              <br>
            </div>
          </div>
        <div class="row">
            <div class="col">
                <a href="/admin/addstudent" class="btn btn-dark">Add/Remove Students</a>
            </div>
            <div class="col">
                <a href="/admin/addSubject" class="btn btn-dark">Add/Remove Subjects</a>
            </div>
          </div>
      </div>
</body>
</html>