<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Result Update</h1>
        <h4>Student Name:</h4>
        <h4>Student Roll Number:</h4>

        <form>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choose Subject</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              <label for="exampleInputEmail1" class="form-label">Obtain Marks:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="form-label">Total Marks</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        </div>

</body>
</html>